<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
	    <filter-name>adminAccessFilter</filter-name>
	    <filter-class> 
	    	web.security.AuthorizationFilter  
	  	</filter-class>
	    <init-param>
	      <param-name>roles</param-name>
	      <param-value>admin</param-value>
	    </init-param>
	    <init-param>
	      <param-name>onError</param-name>
	      <param-value>/login.jsp</param-value>
	    </init-param>
  	</filter>
    <filter-mapping>
	    <filter-name>adminAccessFilter</filter-name>
	    <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <!--Parametros de contexto para la conexion con la base de datos-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url_bbdd</param-name>
       <!--  <param-value>jdbc:mysql://192.168.71.2:3306/labos</param-value> -->
        <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </context-param>
    <context-param>
        <param-name>usuario</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <!-- <param-value>length#6649</param-value> -->
        <param-value>javi</param-value>
    </context-param>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
